




*{
   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    overflow-x: hidden;
}

.header-section {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(91, 243, 91);
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 3;
  
}

.header-section ul {
    list-style: none;
    
}

.header-section a {
    text-decoration: none;
}
.header-section a:hover{
    color: crimson;
    transition: 0.4s ease-in-out;
}

.navbar ul  {
    display: flex;
    margin-right: 20px;

}

.navbar ul li {
    position: relative;
    padding-bottom: 2px;
    margin-left: 15px;
    font-size: 18px;
    font-weight: bold;
    
}

.navbar ul li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #fff;
    transform: scaleX(0);
    transition: transform 0.6s ease-in-out; 

 }

.navbar ul li a:hover::after{
    transform: scaleX(1);
}



.logo{
    margin-left: 20px;
    
    
    
}

/* showcase section */

.showcase {
   
    background-image: url('./mut_web_images/mut_officials.jpeg');
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.7;
    z-index: 1;

}

.content h1 {
    position: relative;
    font-size: 3rem;
    font-weight: bold;
    color: rgb(55, 223, 55);
    margin-bottom: 10px;
 
   
   
}



.content p {
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    
}

/* main-content section */
.main-content {
    margin: 50px 0 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.discription {
    box-sizing: border-box;
    background-color: rgb(156, 156, 233);
    width: 700px;
    height: 500px;
    margin-right: 200px;
    border: none;
    border-radius: 10px;
    padding: 100px 15px 15px 70px;
    line-height: 1.6;
    box-shadow: 2px 8px 10px #a9a9a9;
    position: relative;
    animation-name: discription;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes discription {
    0% {display: none;}
    50% {right: -1000px;}
    100% {right: 0px;}
}

.discription h1 {
    margin-bottom: 30px;
    font-weight: bold;
    color: #fff;

}


.btn {
    font-family: sans-serif;
    font-weight: bold;
    box-sizing: border-box;
    margin-top: 30px;
    border: 1px solid #fff;
    width: 120px;
    height: 40px;
    padding: 5px;
    text-align: center;
   
}


.btn a {
    position: relative;
    text-decoration: none;
}
.btn:hover {
   
    background-color: #fff;
    animation: button;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
@keyframes button {
    0% { background-color: none; }
    50% { background-color: inherit; }
    100% { bottom: 0px;}
}



.image {
    margin-left: 100px;
    position: relative;
    animation-name: image;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    box-shadow: 2px 8px 10px #a9a9a9;
}

@keyframes image {
    0% {display: none;}
    50% {left: -1000px;}
    100% {left: 0px;}
}


/* cards section */

.cards {
   margin: 40px 20px 20px 30px;
   text-align: center;
   background-color: rgb(190, 241, 138);
}

.cards h1 {
    margin-bottom: 40px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
}

#img1 #img2 #img3 {
    margin: 10px;
}

/* images */

.images {
    display: flex;
    justify-content: space-around;
    position: relative;
    margin: 20px 30px 0px 20px;
    border-radius: 5px;
    animation-name: images;
    animation-duration: 2s;
    animation-fill-mode: forwards;
   
}

.learn-more-container {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    line-height: 18px;
    border: 2px solid black;
    border-radius: 20px;
    padding: 40px 20px;
    width: 750px;
    height: 420px;
    background-color: rgb(23, 23, 54);
    line-height: 25px;
    margin-bottom: 30px;
    color: #fff; 
}

.learn-more-btn{
    margin-top: 50px;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 30px;
    padding: 7px 5px;
    text-align: center;
    width: 140px;
    height: 45px;
    background-color: #fff;
}

.learn-more-btn a {
    text-decoration: none;
   
}


.learn-more-btn:hover {
    background-color: #ee6a73;
   
}

@keyframes images {
   0% {left: -2000px;}
   100% {left: 0px;}
}


/* footer section */


.footer-section {
    height: 400px;
    background-color: rgb(97, 238, 97);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    margin-right: 60px;
}

.footer-section h1 {
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}

.footer ul li {
    list-style: none;
    margin-bottom: 10px;
}

.footer a {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: #ff0000;
    text-transform: capitalize;

}

.footer a:hover {
    color: rgb(98, 98, 241);
    transition: 0.2s ease-in-out;
}

.newsletter {
    margin-left: 30px;
}

.newsletter h2 {
    margin-bottom: 10px;
}

#footer-email {
    height: 35px;
    width: 250px;
    text-align: center;
    padding: 5px 10px;
    border: none;
    outline: none;
    border-radius: 8px;
    font-size: 18px;

}

#footer-email ::placeholder {
    background-color: #f5f5f5;
    color: #a9a9a9;

}

.newsletter button {
    height: 35px;
    width: 90px;
    font-size: 18px;
    font-weight: bold;
    background-color: #ee6a73;
    border: none;
    outline: none;
    padding: 2px 10px;
    text-align: center;
    border-radius: 10px;
}


@media(max-width:1500px) {

    .showcase {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-image: url('./mut_web_images/mut_officials.jpeg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: center;
        background-position-y: center;
    }
    .main-content {
        display: flex;

        margin: 20px 40px;
        padding: 10px 20px;
    }

    .image {
        margin-left: 10px;
        position: relative;
        animation-name: image;
        animation-duration: 3s;
        animation-fill-mode: forwards;
        box-shadow: 2px 8px 10px #a9a9a9;
        margin-right: 20px;
    }

    .mut_gate  img {
        width: 600px;
        height: 500px;
        margin-bottom: 20px;
    }

    .learn-more-container {
        width: 500px;
        height: 500px;
        margin-bottom: 20px;
        line-height: 20px;
        margin-left: 15px;
    }

    .discription {
        box-sizing: border-box;
        background-color: rgb(156, 156, 233);
        width: 700px;
        height: 500px;
        margin-right: 10px;
        border: none;
        border-radius: 10px;
        padding: 40px 20px 15px 40px;
        
        box-shadow: 2px 8px 10px #a9a9a9;
        position: relative;
        animation-name: discription;
        animation-duration: 3s;
        animation-fill-mode: forwards;
    }

.mut_gate img {
    width:480px;
    height: 500px;
}
.learn-more-container {
    width: 480px;
    height: 500px;
}

    .footer {
        font-size: 20px;
        margin-left: 30px;
    }
    .footer h1 {
        font-size: 15px;
        font-weight: 500;
    }

    .footer a {
        font-size: 16px;
        font-weight: 200;
    }

    .newsletter button {
        margin-top: 20px;
    }

}

@media(max-width: 800px){
    .header-section {
        display: flex;
        flex-direction: column;
        background-color:rgb(79, 182, 79);
        margin-left: 0;
        height: 60px;
        width: 100%;
    }
    .navbar ul{
        display: none;
        
    } 
    .logo {

        margin-left: 2px;
    }

    .logo h1 {
        position: absolute;
        left: 0;
        top: 0;
        font-size: 25px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .main-content {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    .content h1 {
       font-size: 2rem;
    }
    .content p {
        font-size: 14px;
        color: #ff1010;
    }
    .footer-section {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        display: flex;
        flex-wrap: wrap;
        padding: 10px 40px;
        height: 550px;
        padding-bottom: 20px;
    
    }

    .footer-section h1 {
        margin-bottom: 5px;
        text-transform: uppercase;
        font-size: 1.2rem;
        font-family: Arial, Helvetica, sans-serif;
    }

    .footer a {
        text-decoration: none;
        font-size: 12px;
        font-weight: 200;
        color: #ff0000;
        text-transform: capitalize;
    }

    .discription {
        margin: 20px 30px;
       
    }
    .image {
        margin: 20px 30px;
    }
    .showcase {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-image: url('./mut_web_images/mut_officials.jpeg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: center;
        background-position-y: center;
    }
    .footer a {
        text-decoration: none;
        font-size: 12px;
        font-weight: 200;
        color: #ff0000;
        text-transform: capitalize;
        padding-bottom: 2px;
    }
    .images {
        position: relative;
        margin: 5px;
        border-radius: 5px;
        width: 500px;
        height: auto;
    }



    .images {
        display: flex;
        flex-direction: column;
    }

    .learn-more-container {
        width: 460px;
        height: 520px;
        margin-bottom: 20px;
    }

    .learn-more-container p {
        font-size: 14px;
        font-weight: 200;
    }

    .learn-more-btn {
        margin-top: 18px;
    }
    .mut_gate {
        border-radius: 10px;
       
        margin-bottom: 20px;
    }

    .image {
       width: 450px;
       height: 450px;
       overflow-y: hidden;
    }

    .discription {
        width: 500px;
        height: 500px;
    
    }
    .newsletter h2{
        font-size: 15px;
        margin-bottom: 2px;
    }
    .footer ul li {
        margin-bottom: 2px;
    }

    form {
        margin-top: 3px;
    }
}